---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>My Favorite <strong>Books</strong></h1>


<table id="books-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>ISBN</th>
            </tr>
        </thead>
        <tbody>
            <!-- Table body will be populated dynamically -->
        </tbody>
    </table>