body {
    font-family: Helvetica, sans-serif;
    color: darkorchid;
    background:lightgrey;
    padding: 0 40px;
    text-align: center;
}

ul {
    color: red;
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
}

h1 strong {
    color: darkorchid;
}
